* {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
  background-color: #0e0753;
}

h1 {
  text-align: center;
  color: #615700;
  font-weight:bolder;
}

section {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #615700;
  margin: 3px;
}

section > h2 {
  float: right;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 120px;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  height: 35px;
  padding-top: 7px;
}

p {
  padding: 35px 10px 0px 10px;
}

.row {
  width: 100%;
}

.curry{
  background-color: burlywood;
}

.pasta{
  background-color: rgb(202, 111, 83);
}

.sushi{
  background-color: rgb(80, 139, 107);
}

/* Desktop view options */

@media (min-width: 992px) {
  .col-lg-4 {
      float: left;
      width: 33.33%;
  }
}


/* Tablet view options */

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
      float: left;
      width: 50%;
  }
}


/* Mobile view options */

@media (max-width: 767px) {
  .col-sm-12 {
      float: left;
      width: 100%;
  }
}